body{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-left: 0px;
    }

    main{
        position: absolute;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

        margin-top: 0px;
        margin-left: 0px;
        
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin-left: 1em;
        margin-right: 1em;
    }

    video{

        width:640px;
        height: 320px;
    
    }

    footer{
        position: absolute;
        bottom:0px;
        font-size: 0.8em;
    }

    #recBu{
    
        background-color: red;
        color:white;
    
    }

    #dwnBu{
        text-decoration: none;
        background-color: green;
        color: white;
        width: 100%;
        text-align: center;
        line-height: 2em;
        padding: 0.2em 2em;
        border-radius: 3px;
               
    }

    .invisible{
        display: none;
    }

    .question_tittle{
        font-size: 0.8em;
        position: relative;
        margin-top:0px;
    }

    .question_type{
        color:green;
    }

    .timmer{
        background-color: black;
        color:white;
        line-height: 2em;
        padding:0.2em 2em;
        text-align: center;
        width: 50%;
        margin-bottom: 0px;
    }