.interviewContainer {
    height: 60px;
}

.interview {
    height: 70px;
    margin-right: 5px;
}

.reviewContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.review {
    height: 100%;
    width: 100%;
}