@import '../../partials/colors';

.mainBr{
     width:100%;
    height: 100%;
    text-align: center;
    olor: #4c4c4c;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   div{
       color:$main-color;
       margin-bottom: 2em;
       font-size: 2em;
   }
}

.dwnBtnsBx{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.dwnBrw {
    text-decoration: none;
    background-color: orange;
    padding: 0.6em 1em;
    font-size:0.6em;
    margin-top:1.5em;
    width: 44%;
    text-align: center;
    color: $main-color;
    transition: background-color 0.5s, color 1s;
    &:hover{
        color:orange;
        background-color: $main-color;
    }
}

