#preview {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 12;
    width: 50vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 1em 1em 1em 1em;
}

h1{
    text-align: center;
    font-size: 2em;
    color: #4c4c4c;
}

#info {
    width: 66%;
    color: white;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

#next {
    width: 33%;
}

#nextQuestion {
    display: block;
    height: 70px;
    width: 70px;
    margin-left: 5px;
    color: white;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color;
    
}

#nextQuestion:hover{
    background-color: green;    
}