.tally {
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .tally .tallyBall {
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: blink 1s alternate infinite; }
  .tally .tallyText {
    color: red;
    padding-left: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
