#shootContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:44;
    text-align: center;
    width: 100%;
    bottom:0px;    
}

.invisible {
    visibility: hidden;
    display: none;
}

 #shoot{
    position: relative; 
    text-decoration: none;
    display: block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    margin-left: 5px;
    color: white;
    background-color: firebrick;  
    border-radius: 50%;
    border: none;
    cursor: pointer;
    bottom: 2em;
    transition: background-color 0.5s;
 }

#shoot:hover{
    background-color: #4C4C4C;   
}