body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 0px;  
}


.App {
    position: absolute;
    display: flex;
    flex-direction:column;  
    width: 100%;
    top: 0;
    left: 0;
}
