.App {
    position: absolute;
    display: flex;
    flex-direction:column;  
    width: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    background-color: white;
}


/*SECTIONS*/




#review{
    z-index:15;
    width: 100%;
    position:fixed;
    background-color: white;
}

#recordedClip{
    width: 650px;
}

.invisible {
    display: none;
}

#qTracker{
    color:white;
    height: 30px;
    font-size:11px;
    background-color: #4c4c4c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*BUTTONS*/

#recBu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 33;
    border: none;
    background-color: red;
    color: white;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding: 0.2em 2em;
    border-radius: 3px;
    cursor: pointer;
}

#dwnBu {
    text-decoration: none;
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 2em;
    padding: 0.2em 2em;
    border-radius: 3px;
    cursor: pointer;
}



