<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stopwatch</title>   
    <link rel="stylesheet" href="./stopwatch.css"/>
</head>

<body>
    <article id="display"></article>
    <a id="markBu" href="#">MARK</a>
    <a id="stopBu" href="#">STOP</a>
    <a id="resetBu" href="#">RESET</a>
    <ul id="marksView">

    </ul>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

            var time = 0;
            var stopwatch;

            const markBu = document.querySelector('#markBu');
            const stopBu = document.querySelector('#stopBu');
            const resetBu = document.querySelector('#resetBu');
            const marksView = document.querySelector('#marksView');

            markBu.addEventListener('click', function () {
                addTM('Marcar', time);
            });
            stopBu.addEventListener('click', function () { stop(); });

            resetBu.addEventListener('click',function(){});

            start();

            function start() {
                stopwatch = window.setInterval(function () {
                    //console.log('time: '+time);
                    time += 100;
                    updateDisplay(formatTime(time));
                }, 100);
            }

            function stop() {
                console.log(time);
                window.clearInterval(stopwatch);
            }

            //DOM display
            const display = document.querySelector('#display');

            //Processing miliseconds
            function formatTime(ms) {

                const framerate = 25;
                const mlsFrame = 1000 / framerate;

                let s = ms / 1000;
                let f = Math.round((ms % 1000) / 40); //Those are Frames (1000/framerate);
                let h = Math.floor(s / 3600);
                s = Math.floor(s % 3600);
                let m = Math.floor(s / 60);
                s = Math.floor(s % 60);

                h = dummyZero(h);
                m = dummyZero(m);
                s = dummyZero(s);
                f = dummyZero(f);

                return "" + h + ":" + m + ":" + s + "." + f;
            }

            //Adds a zero when number has 1 figure
            function dummyZero(n) {
                let nn = "" + n;
                if (nn.length == 1) {
                    nn = "0" + n;
                }
                return nn;
            }

            //Time marks
            //Here i'll save the timeMarks
            const timeMarks = [];

            //Create timeMark
            function addTM(description, currentTime) {
                let a = new TimeMark(description, formatTime(currentTime));
                timeMarks.push(a);
                printTMs();
            }

            //This is a timeMark
            function TimeMark(des, tmp) {
                //TimeMark description
                this.des = des;
                //TimeMark timecode
                this.tmp = tmp;
            }

            //Adding a TimeMark
            function addTimeMark(tm) {
                timeMarks.push(tm);
            }

            //Showing TimeMarks 
            function printTMs() {
                marksView.innerHTML = "";
                for (let i = 0; i < timeMarks.length; i++) {
                    marksView.innerHTML += "<li>" + timeMarks[i].des + ": " + timeMarks[i].tmp + "</li>";
                }
            }

            //Reset timeWatch
            function resetWatch(){
                
            }

            //Updating DOM
            function updateDisplay(u) {

                display.innerHTML = u;

            }

        });
    </script>
</body>

</html>