<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stopwatch</title>
    <style>
    #display{
        background-color: #000;
        color:#fff;
        letter-spacing: 0.7em;
        font-family: monospace;
        font-size: 2.2em;
        padding: 0.2em 2em 0.2em 2em;
        text-align: center;
    }
    </style>
</head>

<body>
    <article id="display"></article>
    <a id="stopBu" href="#">STOP</a>
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var time = 0;
            var stopwatch;

            const stopBu = document.querySelector('#stopBu');

            stopBu.addEventListener('click',function(){stop();});

            start();

            function start(){
              stopwatch =  window.setInterval(function(){
                    //console.log('time: '+time);
                    time += 100;
                    updateDisplay(formatTime(time));
                },100);
            }

            function stop(){
                console.log(time);
                window.clearInterval(stopwatch);
            }

            //DOM display
            const display = document.querySelector('#display');

            //Processing miliseconds
            function formatTime(ms) {

                const framerate = 25;
                const mlsFrame = 1000 / framerate;

                let s = ms / 1000;
                let f = Math.round((ms % 1000) / 40); //Those are Frames (1000/framerate);
                let h = Math.floor(s / 3600);
                s = Math.floor(s % 3600);
                let m = Math.floor(s / 60);
                s = Math.floor(s % 60);
                
                console.log('f:'+f);

                return "" + h + ":" + m + ":" + s + "." + f;
            }

            //Time marks

            //Create timeMark
            function addTM (description,currentTime){
                
            }

            //This is a timeMark
            function TimeMark(des, tmp) {
                //TimeMark description
                this.des = des;
                //TimeMark timecode
                this.tmp = tmp;
            }

            //Here i'll save the timeMarks
            const timeMarks = [];

            //Adding a TimeMark
            function addTimeMark(tm) {
                timeMarks.push(tm);
            }

            //Updating DOM
            function updateDisplay(u) {

                display.innerHTML = u;

            }

        });

    </script>
</body>

</html>