<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stopwatch</title>
    <link rel="stylesheet" href="./stopwatch.css" />
    <script type="text/javascript" src="./stopwatch.js"></script>
</head>

<body>
    <article id="display">00:00:00.00</article>
    <article id="butonera">
        <a id="startBu" href="#">START</a>
        <a id="markBu" href="#">MARK</a>
        <a id="stopBu" class="invisible" href="#">STOP</a>
        <a id="resetBu" href="#">RESET</a>
    </article>
    <ul id="marksView">

    </ul>
</body>

</html>