      body {
            font-family: monospace;
        }
        
        #display {
            background-color: #000;
            color: #fff;
            letter-spacing: 0.7em;
            font-family: monospace;
            font-size: 2.2em;
            padding: 0.2em 2em 0.2em 2em;
            text-align: center;
        }