#capturer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1280px;
    min-height: 720px;
    height: 100%;
}

#liveCam {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

#shutterMask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 33;
    -webkit-animation: fadeIn 0.2s 1;
    animation: fadeIn 0.2s 1;
    background-color: #4C4C4C;
}


@-webkit-keyframes fadeIn {
    0% {
        opacitiy: 0;
    }
    50% {
        opacitiy: 1;
    }
    65% {
        opacitiy: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes fadeIn {
    0% {
        opacitiy: 0;
    }
    50% {
        opacitiy: 1;
    }
    65% {
        opacitiy: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 1;}
}

@keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 1;}
}