#recBu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 33;
    border: none;
    background-color: red;
    color: white;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding: 0.2em 2em;
    border-radius: 3px;
    cursor: pointer;
}