

#recBu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 33;
    border: none;
    background-color: red;
    color: white;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding: 0.2em 2em;
    border-radius: 3px;
    cursor: pointer;
}

#nextQuestion {
    position: fixed;
    bottom: 2em;
    right:2em;
    display: block;
    height: 70px;
    width: 70px;
    margin-left: 5px;
    color: white;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color;
    
}

#nextQuestion:hover{
    background-color: green;    
}